# ======================================================================
# ~~ Samba user
# ======================================================================
$sambaUser = "root"
$sambaPassword = "samba"

# ======================================================================
# ~~ Git user
# ======================================================================
# $gitUser = "My name"
# $gitEmail = "my@email.com"
# $githubSSHKey = "myPrivateKey"