# ======================================================================
# ~~ Samba user
# ======================================================================
$sambaUser = "root"
$sambaPassword = "samba"

# ======================================================================
# ~~ Git user
# ======================================================================
# $gitUser = "My name"
# $gitEmail = "my@email.com"
# $githubSSHKey = "myPrivateKey"

# ======================================================================
# ~~ Github projects
# ======================================================================
# $projects = {
#     myProject => {
#         name => "folderAndVhostName",
#         url => "git@github.com:user/my-project.git"
#     }
# }