# ======================================================================
# ~~ Samba user
# ======================================================================
$sambaUser = "root"
$sambaPassword = "samba"